<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <th:block th:insert="fragments/layout.html :: layout(~{::title/text()}, ~{::link}, ~{::main}, ~{::script})"
              th:with="headerType='header_slim'">
        <script src='https://www.google.com/recaptcha/api.js'></script>        
        <title>Verificar atendimento realizado</title>
        <main>
            <form th:action="@{/visualizar}" method="post" th:object="${command}" id="form-atendimento">
                <div class="row">
                    <div class="col">
                        <th:block th:insert="fragments/form.html :: text('Protocolo', 'protocolo')"/>
                        <th:block th:insert="fragments/form.html :: text('Senha', 'senha')"/>
                        <div class="form-group mt-2 text-right">
                            <button class="btn btn-primary g-recaptcha" data-badge="bottomleft" data-sitekey="" data-callback="onSubmit"><i class="fas fa-check-circle mr-2"></i> Enviar</button>
                        </div>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col">
                        <a th:href="@{/atendimento/recuperaprotocolos}">Esqueceu seus números de protocolo e senhas?</a>
                    </div>
                </div>
            </form>
        </main>
        <script type="text/javascript">
            function onSubmit() {
                $('#form-atendimento').submit();
            }
        </script>
    </th:block>
</html>