<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <th:block th:insert="fragments/layout.html :: layout(~{::title/text()}, ~{::link}, ~{::main}, ~{::script})">
        <title>Visualiza estado de uma consulta</title>
        <main>
            <div th:object="${estado}">            
                <div class="row">
                    <th:block th:insert="fragments/form.html :: out('Descrição', *{descricao})"/>
                </div>
                <div class="row">
                    <th:block th:insert="fragments/form.html :: outUnescaped('Termo de livre esclarecimento', *{termoEsclarecimento})"/>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="font-weight-bold">Indicadores</label>
                        <ul class="list-group">
                            <li th:each="ind : *{indicadores}" th:text="${ind.descricao}" class="list-group-item"/>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <th:block th:insert="fragments/form.html :: out('Próximo estado paciente envia nota', *{proximoEstadoPaciente?.descricao})"/>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="font-weight-bold">Proximos estados possíveis</label>
                        <ul class="list-group">
                            <li th:each="est : *{proximosEstadosPossiveis}" th:text="${est.descricao}" class="list-group-item"/>
                        </ul>
                    </div>
                </div>
            </div>            
        </main>
        <script type="text/javascript">
            (function ($) {
                // ADICIONE JS CODE AQUI
            })(jQuery);
        </script>
    </th:block>
</html>
