<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <th:block th:insert="fragments/layout.html :: layout(~{::title/text()}, ~{::link}, ~{::main}, ~{::script})">
        <title>Definir senha</title>
        <main>
            <!-- INICIO CONTEÚDO -->
            <div class="card mb-2">
                <div class="card-body  bg-light">
                    <h5 class="card-title">Regras para senha</h5>
                    <div th:each="r : ${regrasSenha}">
                        <div th:text="${r}"></div>
                    </div>
                </div>
            </div>
            <form action="#" th:action="@{/public/redefinirSenha/__${#objects.nullSafe(command.token, '')}__}" th:object="${command}" method="post">
                <th:block th:insert="fragments/form.html :: password('Nova Senha', 'novaSenha1')"/>
                <th:block th:insert="fragments/form.html :: password('Confirma Nova Senha', 'novaSenha2')"/>
                <th:block th:insert="fragments/form.html :: actions"></th:block>
            </form>
            <!-- FIM CONTEÚDO -->
        </main>
        <script type="text/javascript">
            (function ($) {
                // ADICIONE JS CODE AQUI
            })(jQuery);
        </script>
    </th:block>
</html>
