<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <th:block th:insert="fragments/layout.html :: layout(~{::title/text()}, ~{::link}, ~{::main}, ~{::script})">
        <title>Visualiza profissional</title>
        <main>
            <div th:object="${profissional}">
                <th:block th:insert="fragments/form.html :: out('Nome Completo', *{nomeCompleto})"/>
                <th:block th:insert="fragments/form.html :: out('E-mail', *{email})"/>
                <th:block th:insert="fragments/form.html :: out('Telefone', *{telefone})"/>
                <th:block th:insert="fragments/form.html :: out('Número do registro profissional', *{numeroRegistro})"/>
                <th:block th:insert="fragments/form.html :: out('Tipo de Profissional', *{tipoProfissional.descricao})"/>
                <th:block th:insert="fragments/form.html :: out('Ativo?', *{ativo ? 'Sim' : 'Não'})"/>
                <div class="row">
                    <div class="col">
                        <h3 class="h4">Especialidades</h3>
                        <table class="table table-sm table-striped table-hover" th:unless="*{#lists.isEmpty(especialidades)}">
                            <thead>
                                <tr>
                                    <th style="width: 5em">Código</th>
                                    <th>Descrição</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="e : *{especialidades}">
                                    <td th:text="${e.codigo}"></td>
                                    <td th:text="${e.descricao}"></td>
                                </tr>
                            </tbody>
                        </table>
                        <span class="badge badge-secondary" th:if="*{#lists.isEmpty(especialidades)}">Nenhuma especialidade definida</span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <h3 class="h4">Cidades Sede</h3>
                        <table class="table table-sm table-striped table-hover" th:unless="*{#lists.isEmpty(cidadesSede)}">
                            <thead>
                                <tr>
                                    <th>Cidade</th>
                                    <th style="width: 10em">Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="c : *{cidadesSede}">
                                    <td th:text="${c.nome}"></td>
                                    <td th:text="${c.estado.sigla}"></td>
                                </tr>
                            </tbody>
                        </table>
                        <span class="badge badge-secondary" th:if="*{#lists.isEmpty(cidadesSede)}">Nenhuma cidade sede definida</span>

                    </div>
                </div>
                <div class="row mt-3" th:if="${profissional.preceptorResponsavel}">
                    <div class="col">
                        <h3 class="h4">Preceptoria</h3>
                        <table class="table table-sm table-striped table-hover">
                            <thead>
                                <tr>
                                    <th style="width: 10em">Tipo profissional</th>
                                    <th>Nome</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td th:text="${profissional.preceptorResponsavel.tipoProfissional.descricao}"></td>
                                    <td th:text="${profissional.preceptorResponsavel.nomeCompleto}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row mt-3" th:if="${profissional.podeSerPreceptor}">
                    <div class="col">
                        <h3 class="h4">Preceptoria</h3>
                        <table class="table table-sm table-striped table-hover" th:unless="*{#lists.isEmpty(alunos)}">
                            <thead>
                                <tr>
                                    <th style="width: 10em">Tipo profissional</th>
                                    <th>Nome</th>
                                    <th style="width: 10em">Data de início</th>
                                    <th style="width: 10em">Data de fim</th>
                                    <th style="width: 5em">Ativo?</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="a : *{alunos}">

                                    <td th:text="${a.aluno.tipoProfissional.descricao}"></td>
                                    <td th:text="${a.aluno.nomeCompleto}"></td>
                                    <td th:text="${#calendars.format(a.inicio, 'dd/MM/yyyy')}"></td>
                                    <td th:text="${#calendars.format(a.validade, 'dd/MM/yyyy')}"></td>
                                    <td th:text="${a.ativo? 'Sim' : 'Não'}"></td>
                                </tr>
                            </tbody>
                        </table>
                        <span class="badge badge-secondary" th:if="*{#lists.isEmpty(alunos)}">Nenhum vínculo de preceptoria</span>

                    </div>
                </div>
            </div>
        </main>
        <script type="text/javascript">
            (function ($) {
            })(jQuery);
        </script>
    </th:block>
</html>
