<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <th:block th:insert="fragments/layout.html :: layout(~{::title/text()}, ~{::link}, ~{::main}, ~{::script})">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/select2/css/select2.min.css}"      href="../../static/assets/select2/css/select2.min.css" />

        <title>Cidades atendidas</title>

        <main>
            <form action="#" th:action="@{/admin/localizacao/cidade/atendidas/__${#objects.nullSafe(command.cidadeSede.id, '')}__}" th:object="${command}" method="post">
                <div th:object="${command.cidadeSede}">
                    <th:block th:insert="fragments/form.html :: out('Código', *{codigo})"/>
                    <th:block th:insert="fragments/form.html :: out('Nome', *{nome})"/>
                    <th:block th:insert="fragments/form.html :: out('Estado', *{estado.nome})"/>
                    <th:block th:insert="fragments/form.html :: out('Atendimento', *{atendimento ? 'Sim' : 'Não'})"/>
                    <h3 class="h4">Cidades atendidas</h3>
                    <table class="table table-sm table-striped table-hover">
                        <thead>
                            <tr>
                                <th style="width: 5em"></th>
                                <th>Cidade</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="c : *{cidadesAtendidas}">
                                <td class="text-center">
                                    <a class="btn btn-sm btn-light" title="Remover" th:href="@{/admin/localizacao/cidade/removersede/__${command.cidadeSede.id}__(cidade=${c.id})}" onclick="return confirm('Confirma a exclusão?');">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                                <td th:text="${c.nome}"></td>
                                <td th:text="${c.estado.sigla}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h3 class="h4">Incluir cidade</h3>
                <div class="form-group">
                    <label class="font-weight-bold" for="estado">Estado</label>
                    <select id="estado" class="form-control">
                        <option value="">---Selecione---</option>
                        <option th:each="e : ${estados}" 
                                th:selected="(${e.id} == *{cidadeSede.estado.id})" 
                                th:value="${e.id}" 
                                th:text="${e.nome}">Estado</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold" for="cidade">Cidade</label>
                    <select th:field="*{cidade}" class="form-control">
                        <option th:each="c : ${cidades}"  
                                th:value="${c.id}" 
                                th:text="${c.nome}">Cidade</option>
                    </select>
                    <span th:if="${#fields.hasErrors('cidade')}" th:errors="*{cidade}"></span>
                </div>
                <th:block th:insert="fragments/form.html :: actions"></th:block>

            </form>
        </main>
        <script type="text/javascript">
            (function ($) {
                $('document').ready(function () {
                    $('#estado').change(function () {
                        var idEstado = $(this).val();
                        $.getJSON("[[@{/estado/cidades?idEstado=}]]" + idEstado, function (cidades) {
                            $('#cidade').find('option').remove().end().append('<option value="">-- Selecione --</option>').val('');
                            $.each(cidades, function (key, cidade) {
                                $('#cidade').append($('<option>', {
                                    value: cidade.id,
                                    text: cidade.nome
                                }));
                                $('#cidade').select2({
                                    language: 'pt-br'
                                });
                            });
                        });
                    });
                    $('#estado').change();
                });
            })(jQuery);
        </script>
    </th:block>
</html>
